.HeadBand {
    background-color: var(--backgroundHeader);
    width: 117px;
}

.HeadBand_P {
    width:max-content;
    color:white;
    transform: rotate(270deg);
}

.iconsHeadBand {
    gap: 15px;
}