main {
    width: max-content;
    padding: 60px;
    width: 100%;
}

.containerChart {
    height: 90%;
    width: 100%;
    gap: 20px;
}

.firstChart {
    height: 36%;
    background-color: var(--backgroundGray);
    padding: 7px;
    width: 100%;
}

.allCardsMacro {
    width: 30%;
}