.iconCount {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #00000005;
}

.containerIcon {
    display: flex;
    padding: 20px;
}

.scoreCount {
    font-size: 15px;
    font-weight: bold;
}

.typeCount {
    font-size: 12px;
    color: #74798C;
}