.customLegend {
    display: flex;
    justify-content: space-between;
    alignItems: center;
    width: 98%;
}

.customLegendP {
    font-weight: bold;
}

.customLegendUl {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

@media screen and (max-width: 640px) {
    .customLegendP {
        font-size: 8px;
    }

    .customLegendUl {
        justify-content: space-between;
        font-size: 7px;
        width: 50%;
        margin-right: 0%;
    }

    .customLegend {
        justify-content: space-between;
        width: 85%;
    }
}