.cardMacro {
    display: flex;
    align-items: center;
    background-color: var(--gray);
    padding: 30px;
    border-radius: 10px;
}

.cardMacroType {
    margin-left: 20px;
}

.containerImgMacro {
    padding: 20px;
    border-radius: 5px;
}

.cardMacroP {
    font-size: 15px;
}

.cardMacroSpan {
    display: flex;
    color: #74798C;
    fontSize: 10px;
}


@media screen and (max-width: 840px) {
    .cardMacro {
        padding: 20px;
    }

    .containerImgMacro {
        padding: 1px;
    }

    .containerImgMacro img {
        width: 20px;
        height: 20px;
    }

    .cardMacroP {
        font-size: 12px;
    }

    .cardMacroSpan {
        font-size: 7px;
    }

    .cardMacroType {
        margin-left: 10px;
    }
}


@media screen and (max-width: 640px) {
    .cardMacro {
        padding: 10px;
    }

    .containerImgMacro {
        padding: 1px;
    }

    .containerImgMacro img {
        width: 10px;
        height: 10px;
    }

    .cardMacroP {
        font-size: 8px;
    }

    .cardMacroSpan {
        font-size: 5px;
    }

    .cardMacroType {
        margin-left: 10px;
    }
}
