.Home {
    width: 100%;
    padding: 60px;
}

.Home main {
    height: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
}

.Home main .containerChart {
    width: 100%;
    border: 1px solid black;
    padding-top: 30px;
}

.Home main .containerCard {
    border: 1px solid red;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}