.d_flex {
    display: flex;
}

.justifyContentBetween {
    justify-content: space-between;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentAround {
    justify-content: space-around;
}

.justifiyContentEvenly {
    justify-content: space-evenly;
}

.alignItemsCenter {
    align-items: center;
}

.flexColumn {
    flex-direction: column;
}

.container {
    width: 100%;
    height: calc(100% - 101px);
}

.containerMain {
    width: 100%;
}