.main {
    height: calc(100% - 91px);
    width: 100%;
    display: flex;
}

.legendStyle-1  {
    color: var(--red);
}

@media screen and (max-width: 840px) {
    .main {
        height: calc(100% - 50px);
    }
}