@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --red: #FF0101;
    --gray: #00000005;
    --fontColorChart: #74798C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html,
body,
#root, .container {
    height: 100%;
}

